@keyframes rotate {

    100%{
        transform: rotate(360deg);
    }
  }
  
  img {
    animation: rotate 1s 0.2s;
    border-radius: 100px;
    border: solid 5px #DCE0E8;
    margin-top: 20px;
  }

  img:hover{
    animation: rotate 1s 0s;
  }
  h1 {
    font-size: 24px;
  }
  
  h2 {
    font-size: 18px;
  }
  
  p {
    font-style: italic;
    font-size: 15px;
  }
  
  body {
    font-family: monospace;
    background: linear-gradient(#7287FD, #8839EF);
    text-align: center;
    color: #DCE0E8;
  }
  
  a {
    text-align: center;
    transition: transform 0.5s ease;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    background-color: transparent;
    border-radius: 100px;
    border: solid;
    color: #DCE0E8;
    padding: 10px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px 0;
  }
  
  a:hover {
    transform: scale(1.05);
    background-color: #DCE0E8;
    color: #7287FD;
    border: solid #DCE0E8;
  }
  
  #links {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: fit-content;
  }
  